/* Estilo para alinear imagen y texto lado a lado */
.content {
    display: grid;
    align-items: left;
    justify-content: center;
    margin: 20px 0;
}

.content img {
    width: 200px;
    height: auto;
    margin-right: 50px; /* Espacio entre la imagen y el texto */
}

.content .text {
    font-size: 30px;
    color: rgb(159, 40, 163);
}